html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd,
q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark,
audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu,
nav, section {
display: block;
}
body {
line-height: 1.2;
}
ol {
padding-left: 1.4em;
list-style: decimal;
}
ul {
padding-left: 1.4em

}
table {
border-collapse: collapse;
border-spacing: 0;
}

  
  
  /*Start of Mixins*/
  
  @mixin maxWidth($width) {
	max-width:  $width;
	margin: 0 auto;
  }
  @mixin hover-color($background, $color) {
	  &:hover {
		background-color: $background;
		color: $color;
	  }	  
  } 
  
 @mixin fontAwesome($content, $fontSize) {
	font-family: FontAwesome;
	content: $content;
	font-size: $fontSize;
 }
  
  
  @mixin tabsAdaptiveContent($margin, $width) {
	 .details-wrapper {
		 max-width: $width;
	  }  
	  .details {
		 margin: $margin;			 
	 }  
  }
  
  
  /*End of Mixins*/
  
  /*Start of Variables*/
	
	$colorForBgTabs: #EEEEEE;
	$colorForBgTags: #4F4F4F;
	$colorForHoverLinks: #00BBCC;
	$colorForMap: #00BBCC;
 
 /*End of Variables*/
 
* {
	box-sizing: border-box;
	
}

body {
	padding:0;
	margin:0;
	font-family: Arial ;
}


.header-wrapper {
	background-color: #242223;	
}

.header {
	@include maxWidth(1200px);
	overflow: hidden;
	padding: 20px 10px;
	
	.logo {
		float: left;
		font-size: 40px;
		color: red;
		text-decoration: none;
	}
	
	.nav {
		float:right;	
		margin-top: 15px;
	}
		
	.nav li {
		float: left;
		list-style: none;
	}	
	
	.nav a {
		color: $colorForHoverLinks;
		padding: 5px 10px;		
		text-decoration: none;
		@include hover-color("", white);
		&:hover {
					text-shadow: 0px 0px 1px white;
				}
	}
}

.slider-wrapper {
	background: #242223;
	padding: 0 0 30px 0;
}


.header-slider {
	@include maxWidth(1200px);
	
	img {
		width: 100%;
		height: 700px;
	}	
}

/*Start of Settings for arrows in slick slider*/



.slick-next {
	right: 30px;
}

.slick-prev {
	left: 30px;
}

.slick-prev , .slick-next {
	width: 60px;
	height: 200px;
	z-index: 1;
}

.slick-next:before { 
	@include fontAwesome("\f105", 60px);
}
.slick-prev:before {
	@include fontAwesome("\f104", 60px);
}

/*End of Settings for arrow in slick slider*/


/*Start of Settings for slick-dots in slick slider*/

.slick-dots {
	bottom: 10px;
}

.slick-dots li button::before {
	color: white;	
}

.slick-dots li.slick-active button::before {
	color: white;
}
/*End of Settings for slick-dots in slick slider*/


/*Start of settings for ui tabs*/
	.ui-widget-header {
		border: none;
		background: none;
	}
	
	.ui-widget-content {
		border: none;
	}
	
	.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor, .ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor, .ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor {
		cursor: pointer;
	}
	
	.ui-tabs .ui-tabs-nav li.ui-tabs-active {
		margin-top: 35px;
	}
	
	.ui-tabs .ui-tabs-nav li {
		margin: 1px 6.2em 0 0;		
	}
	.ui-tabs .ui-tabs-nav li:last-child {
		margin-right: 0px;
	}
	
	.ui-tabs .ui-tabs-nav li {
		border-bottom-width: 1px;
	}
	
	.ui-tabs .ui-tabs-panel {
		padding: 10px 37px;
	}
/*End of settings for ui tabs*/

.words {
	@include maxWidth(700px);	
	margin: 25px auto;
	
	
	& {
		color: #6A6A6A;
	}	
}

.red {
	color: red;
}

#tabbedPanel , #tabbedPanelCallery, #prices , #rules {
	
	padding: 0;
	ul {
		@include maxWidth(1100px);
		background-color: #FFFFFF;
		
		img {
			width: 250px;
			height:200px;		
		}
	}
	
	ul p {
		text-align: center;
	}
	
	
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
	position: relative;
	
	&:after {
	bottom: -25%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

	&:after {
		border-color: rgba(136, 183, 213, 0);
		border-bottom-color: $colorForBgTabs;
		border-width: 30px;
		margin-left: -30px;
	}
	
}

#gym , #sauna , #hostel {
	
	background-color: $colorForBgTabs;
	margin-top: 60px;
}

.details-wrapper {
	@include maxWidth(1200px);
	overflow: hidden;
}
	
.details {
	width: 300px;
	display: inline-block;
	vertical-align: top;
	margin: 15px 40px;	
	
	h3 {
		font-size: 17px;
		text-align: center;
	}
	
	p {
		font-size: 16px;
		font-style: italic;
		margin-top: 4px;
	}
	
	a {
	text-decoration: none;
	
	&:hover {
		color: $colorForMap;
	}
}
	
	.details:last-child {
		margin-right: 0;
	}
	
	img {
		width: 300px;
		height: 200px;
		border-radius: 20px;
	}	
}

/*Start of Contact page*/
	.contact {
		.info {
			margin: 20px 0;
		}
		
		p {
			margin: 20px 0;
		}
	}
	
@media screen and (max-width: 1200px) {
	.contact  {
		.details-wrapper {
			max-width: 1200px;
		}
	}
}
/*End of Contact page*/

/*Start of Company page*/
	.company {
		.info {
			margin: 20px 0;
		}
		
		h3 {
			text-align: center;
		}
		
		p {
			margin: 20px 0;
		}
		
		.img-right {
			float:right;
			margin: 5px 0 5px 15px;
		}
		
		.img-left {
			float:left;
			margin: 5px 15px 5px 0px;
		}
		
		img {
			width:380px;
			height: 250px;
		}
	}
	
@media screen and (max-width: 1200px) {
	.company  {
		.details-wrapper {
			max-width: 1200px;
		}
	}
}

@media screen and (max-width: 420px) {
	.company  {
		img {
			width: 285px;
			height: 170px;
		}
	}
}
/*End of Company page*/

/*Start of rules page*/
	#rules {
		
		.details-wrapper {
			h3 {
				text-align:center;
				color: red;
			}
			
			h4 {
				text-align: center;
			}
			p {
				margin: 15px 0;
			}
			
			ul {
				background-color: #EEEEEE;
			}
			
			li {
				padding: 5px 0;
			}
		}	
		
		.ui-accordion-content {
			background-color: #EEEEEE;
		}
		
	}
	
@media only screen and (min-width:100px) and (max-width: 1200px) {
	#rules  {
		.details-wrapper {
			max-width: 100%;
		}
	}
}

@media screen and (max-width: 700px) {
	.ui-accordion .ui-accordion-content {
		padding: 2px;
	}
	
}
/*End of rules page*/



.tags-wrapper {
	padding: 15px 10px;
	background-color: $colorForBgTags;
	overflow:hidden;
	font-size: 18px;
	
	.tags {
		@include maxWidth(880px);
		overflow:hidden;
		
		h2 {
			margin-bottom: 10px;
			color: $colorForHoverLinks;
		}
		
		.links {
			float:left;
			width: 180px;
			margin-right: 50px;
		
		
			ul {
				padding: 0;
			}
			
			li {
				list-style: none;
				
			}
			
			a {
				text-decoration: none;
				display: block;
				line-height: 30px;
				width: 120px;
				color: #BCBCBC;
				
				@include hover-color("", white);
				&:hover {
					text-shadow: 0px 0px 1px white;
				}
			}
			
			
		}
		.links:last-child {
			margin-right: 0;
		}
	}
	
}
/*$colorForHoverLinks
*/
.map:after {
	@include fontAwesome("\f041", 25px);
	padding-left: 7px;
	color: $colorForMap;
}



/*Start of fotorama slider settings*/
	#tabbedPanelCallery , #prices , #rules {
		margin-top: 30px;
		
		.details-wrapper {
			padding: 20px 0;
		}
	}
	
/*End of fotorama slider settings*/


/*Start of prices table*/
	#prices table {
		width: 100%;
		border-collapse: collapse;
		border-spacing: 0;
		border: #e2e2e2 1px solid;
		text-align: center;
		
		
		tr:nth-child(odd) {
			background-color: #fff;
		}
		
		tr:hover {
			color: red;
			cursor: pointer;
		}
		
		td:first-child {
			text-align: left;
		}
		
		td {
			border: #e2e2e2 1px solid;
			padding: 12px 0px 12px 8px;
		}
	}
/*End of prices table*/


/*Start of edit fotorama slider for images in tabs*/
	@mixin fotoramaResponsiveTabs($widthPointer, $heightPointer, $widthShaft, $widthImg, $heightImg, $leftImg) {
		.fotorama__wrap .fotorama__pointer {
			width: $widthPointer !important;
			height: $heightPointer !important;
		}
		
		.fotorama .fotorama__stage__shaft {
			width: $widthShaft !important;
		}
		
		.fotorama__wrap--css3 .fotorama__html, .fotorama__wrap--css3 .fotorama__stage .fotorama__img {
			width: $widthImg !important;
			height: $heightImg !important;
			left: $leftImg !important;
		}
	}
	
	@mixin fotoramaFullscreenResponsiveTabs($widthPointer, $heightPointer, $widthShaft, $widthImg, $heightImg, $arrowPosition) {
		.fotorama--fullscreen .fotorama__wrap .fotorama__pointer {
			width: $widthPointer !important;
			height: $heightPointer !important;
		}
		
		.fotorama--fullscreen .fotorama__stage__shaft {
			width: $widthShaft !important;
		}
		
		.fotorama--fullscreen .fotorama__wrap--css3 .fotorama__html, .fotorama--fullscreen .fotorama__wrap--css3 .fotorama__stage .fotorama__img {
			width: $widthImg !important;
			height: $heightImg !important;
		}
		
		.fotorama--fullscreen .fotorama__arr--prev , .fotorama--fullscreen .fotorama__arr--next {
			top: $arrowPosition !important;
		}
	}
	
@media screen and (max-width: 1300px) {
	@include fotoramaResponsiveTabs(1100px, 733px, 1100px, 1100px, 733px, 0.25px);	
	@include fotoramaFullscreenResponsiveTabs(100%, 850px, 100%, 100%, 800px, 50%);	
}

@media screen and (max-width: 1200px) {
	@include fotoramaResponsiveTabs(920px, 620px, 930px, 930px, 620px, 0px);
	@include fotoramaFullscreenResponsiveTabs(100%, 850px, 100%, 100%, 700px, 50%);
}
@media only screen and (min-width:1100px) and (max-width: 1200px) {
	#tabbedPanelCallery .details-wrapper {
		max-width: 930px;
	}
}

@media screen and (max-width: 970px) {
	@include fotoramaResponsiveTabs(630px, 420px, 630px, 630px, 420px, 0px);
	@include fotoramaFullscreenResponsiveTabs(100%, 820px, 100%, 100%, 600px, 55%);
}

@media screen and (max-width: 670px) {
	@include fotoramaResponsiveTabs(583px, 364px, 583px, 583px, 364px, 0px);
	@include fotoramaFullscreenResponsiveTabs(100%, 800px, 100%, 100%, 500px, 60%);
}

@media screen and (max-width: 620px) {
	@include fotoramaResponsiveTabs(482px, 321px, 482px, 482px, 321px, 0px);
	@include fotoramaFullscreenResponsiveTabs(100%, 780px, 100%, 100%, 500px, 60%);
}
@media screen and (max-width: 520px) {
	@include fotoramaResponsiveTabs(240px, 150px, 240px, 240px, 150px, 0px);
	@include fotoramaFullscreenResponsiveTabs(100%, 600px, 100%, 100%, 300px, 75%);
}
/*End of edit fotorama slider for images in tabs*/


/*Start of Media queries*/


@media screen and (max-width: 1300px) {
	@include tabsAdaptiveContent(15px 30px,  1100px);
	.ui-tabs .ui-tabs-panel {
		padding: 10px;
	}
}


@media screen and (max-width: 1130px) {	
	.details-wrapper {
		max-width: 930px;
		
		ol, ul {
			padding-left: 75px;
		}
	}
	
	.details {
		margin: 15px;
		width: 270px;
		
		img {
			width: 270px;
			height: 170px;
		}
		
		h3 {
			font-size: 15px;
		}
		
		p {
			font-size: 14px;
		}
	}
}

@media screen and (max-width: 1120px) {	
	#tabbedPanel , #tabbedPanelCallery , #prices , #rules { 
		ul {
			@include maxWidth(920px);
		}
	}
	.ui-tabs .ui-tabs-nav li {
		margin: 1px 1.2em 0 0;
	}
}

@media screen and (max-width: 970px) {	
	.details-wrapper {
		max-width: 630px;
	}
	
	#prices .details-wrapper{
		max-width: 100%;
	}
}

@media screen and (max-width: 935px) {	
	.header-slider img {
		height: 550px;
	}
	
	#tabbedPanel, #tabbedPanelCallery, #prices , #rules {
		ul {
			@include maxWidth(770px);
		}
		li {
			img {
				width: 200px;
				height: 150px;
			}
		}
	}
	
	#gym, #sauna, #hostel {
		margin-top: 45px;
	}
	.ui-tabs .ui-tabs-nav li {
		margin: 1px 0.8em 0 0;
	}
	
	
	.tags-wrapper .tags {
		max-width: 460px;
		
		.links {
			margin-top: 20px;
			margin-right: 40px;
			border: 1px dashed black;
			text-align: center;
			border-radius: 5px;
			padding: 5px;
					
			a {
				width: 174px;
			}
		}
		
		.links:nth-child(even) {
			border: 1px dashed white;
		} 
	}
}


@media screen and (max-width: 770px) {
	#prices .details-wrapper{
		font-size: 14px;
	}
	
	#tabbedPanel, #tabbedPanelCallery, #prices , #rules {
		ul {
			@include maxWidth(670px);
		}
		li {
			img {
				width: 170px;
				height: 130px;
			}
		}
	}
	
	#gym, #sauna, #hostel {
		margin-top: 40px;
	}
	
	.ui-tabs .ui-tabs-nav li {
		margin: 1px 0.5em 0 0;
	}
}	


@media screen and (max-width: 750px) {	
	.header {
		text-align: center;
		padding: 20px 0;
		
		.logo {
			float: none;
			display: inline-block;	
		}
		
		.nav {
			float: none;
			display: inline-block;
			width: 100%;
			
			ul {
				padding-left: 0;
				overflow: hidden;
			}
			
			li {
				width: 100%;
				
				&:hover {
					background-color: black;
				}
			}		
			a {
				display: block;
			}
		}
	}
}		

@media screen and (max-width: 700px) {	
	.header-slider img {
		height: 470px;
	}
}

@media screen and (max-width: 670px) {			
	
	
	.ui-tabs .ui-tabs-nav li.ui-tabs-active {
			margin-top: 0px;
		}
		.ui-tabs .ui-tabs-nav li  {
			margin: 0px;
		}
	
	#tabbedPanel, #tabbedPanelCallery, #prices  , #rules{
		ul {
			
			max-width: 430px;
			
			li {
				img {
					width: 100px;
					height: 100px;
				}
			}
			p {
				font-size: 10px;
			}	
		}		
	}
	
	#gym, #sauna, #hostel {
		margin-top: 30px;
	}
	
	.details-wrapper {
		max-width: 583px;
	}
	
	.details {
		margin: 15px 5px;
	}
}

@media screen and (max-width: 620px) { 

	.details-wrapper {
		max-width: 482px;
	}

	.details {
		width: 220px;
		
		img {
			width: 220px;
			height: 140px;
		}
		
		h3 {
			font-size: 13px;
		}
		
		p {
			font-size: 12px;
		}
	}

	#prices .details-wrapper{
		font-size: 12px;
	}	
	
}

@media screen and (max-width: 540px) {
	#prices .details-wrapper{
		font-size: 10px;
	}	
}	
@media screen and (max-width: 520px) { 
	.details-wrapper {
		max-width: 240px;
	}
	
	.tags-wrapper .tags {
		max-width: 180px;
	}
	
}


@media screen and (max-width: 500px) {
	.header-slider img {
		height: 350px;
	}	
}	

@media screen and (max-width: 440px) {
	.header-slider img {
		height: 250px;
	}
	
	#tabbedPanel, #tabbedPanelCallery, #prices , #rules {
		ul {
			@include maxWidth(365px);
			
			li {
				img {
					width: 75px;
					height: 60px;
				}
			}
			p {
				font-size: 8px;
			}
		}
	}
	#gym, #sauna, #hostel {
		margin-top: 8px;
	}
}

@media screen and (max-width: 375px) {
	#tabbedPanel, #tabbedPanelCallery, #prices , #rules {
		ul {
			@include maxWidth(275px);
			
			li {
				img {
					width: 50px;
					height: 40px;
				}
			}
			p {
				font-size: 5px;
			}
			
		}
		
	}
	#gym, #sauna, #hostel {
		margin-top: 8px;
	}
	.ui-tabs .ui-tabs-nav li.ui-tabs-active::after {
		bottom: -47%;
	}
}

/*End of Media queries*/





